$text-color: #ffffff;
$high-color: #f2c94c;
$bg-color: #000000;
$gray-color: #435160;

%base-font {
  font-weight: 400;
  font-family: "Ruda", sans-serif;
}

%base-font-center {
  @extend %base-font;
  text-align: center;
}

@mixin base-font($size, $spacing) {
  @extend %base-font;
  font-size: $size;
  letter-spacing: $spacing;
}

@mixin base-font-center($size, $spacing) {
  @extend %base-font-center;
  font-size: $size;
  letter-spacing: $spacing;
}