@import "@common";

.menu {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
  background-color: $bg-color;

  nav {
    display: flex;
    justify-content: center;

    .menu-item {
      margin: 0 15px;
      @include base-font-center(28px, 1px);
      cursor: pointer;
      text-decoration: none;
      transition: color 0.5s;

      &:hover, &.selected {
        color: $high-color;
        text-decoration: underline;
        text-decoration-thickness: 4px;
      }
    }
  }

  .list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    .price-item {
      display: flex;
      column-gap: 20px;
      max-width: 640px;

      .item-image {
        width: 273px;
        height: 200px;
        border-radius: 10px;
        img {
          width: 273px;
        }
      }

      .item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .price-info {
          display: flex;
          justify-content: space-between;

          .name {
            max-width: 348px;
            @include base-font(20px, 2px);
            color: $high-color;
          }

          .price {
            min-width: 46px;
            @include base-font(20px, 2px);
            color: $high-color;
          }
        }

        .text-info {
          max-width: 346px;
          max-height: 216px;
          @include base-font(16px, 2px);
          line-height: 30px;
        }
      }
    }
  }
}
