@import "@common";

#page-menu {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: space-around;

  .text {
    line-height: 40px;
    @include base-font-center(25px, 2px);
  }

  .button {
    margin-bottom: 50px;
    width: 129px;
    line-height: 42px;
    @include base-font-center(17px, 1px);
    color: $high-color;
    outline: 1px solid $gray-color;

    &:hover {
      outline: 2px solid $high-color;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    div {
      border-radius: 5px;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.8) 100%);
    }
  }

}
