@import "@common";

::-webkit-input-placeholder {
  color: $gray-color;
  font-size: 2rem;
}

::selection {
  color: $bg-color;
  background: $high-color;
}

#send-message {
  margin-top: 30px;
  width: 450px;

  input[type="text"], textarea {
    width: 100%;
    padding: 20px 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $gray-color;
    outline: none;
    @include base-font(24px, 1px);
    color: $text-color;
  }

  input[type="submit"] {
    margin-top: 50px;
    width: 129px;
    line-height: 42px;
    color: $high-color;
    @include base-font-center(18px, 1px);
    background: $bg-color;
    border: none;
    outline: 1px solid $gray-color;

    &:hover {
      outline: 2px solid $high-color;
      cursor: pointer;
    }
  }
}
